html, body {
    margin: 0;
    padding: 0;
    background: #F0EFF2;
    min-height: 100%;
}

.content {
    width: 100vw;
    min-height: 100vh;
}

.attendance-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.attendance-detail h2 {
    border-left: 7px solid black;
    padding-left: 20px;
    margin: 65px 810px 0px 0px;
}

.attendance-detail__table {
    width: 920px;
    background: white;
    color: #737373;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
    border-collapse: collapse;
    border-spacing: 0;
    letter-spacing: 0.15em;
}

.attendance-detail__group {
    display: flex;
    border-bottom: 3px solid #E1E1E1;
}

.attendance-detail__label {
    margin: 32px 0px 22px 50px;
}

.attendance-detail__name {
    color: black;
    margin: 32px 0px 22px 30%;
}

.attendance-detail__year {
    color: black;
    margin: 32px 0px 22px 29%;
}

.attendance-detail__date {
    color: black;
    margin: 32px 0px 22px 17%;
}

.attendance-detail__start-end {
    margin: 32px 0px 22px 19.8%;
}

.attendance-detail__error-message {
    color: red;
    margin-top: 10px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

.attendance-detail__start-end__input {
    display: flex;
}

.start-end__label {
    display: inline-block;
    height: 36px;
    width: 123px;
    border: #EBEBEB 1.5px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.attendance-detail__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    letter-spacing: 0.15em;
}

.tilde {
    margin: 5px 50px 0px 50px;
    color: black;
}

.attendance-detail__break-time {
    display: flex;
    flex-direction: column;
    margin: 32px 0px 22px 245px;
}

.attendance-detail__break-time__input {
    display: flex;
    margin-bottom: 30px;
}

.break-time__label {
    display: inline-block;
    height: 36px;
    width: 120px;
    border: #EBEBEB 1.5px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.break-time__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    letter-spacing: 0.15em;
}

.break-time__tilde {
    margin: 5px 52px 0px 52px;
    color: black;
}

.attendance-detail__break-time__error-message {
    transform: translateY(-20px);
    color: red;
}

.attendance-detail__group-remarks {
    display: flex;
}

.attendance-detail__textarea {
    resize: none;
    border: #EBEBEB 1.5px solid;
    border-radius: 5px;
    margin: 15px 0px 15px 245px;
    width: 340px;
    font-size: 16px;
    padding: 10px 10px;
}

.attendance-detail__error-message__note {
    color: red;
    transform: translate(36.5%, -10px);
}

.attendance-detail__button {
    display: flex;
    justify-content: flex-end;
}

.attendance-detail__button-submit {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 40px;
    border: black;
    border-radius: 6px;
    margin-top: 120px;
}

.attendance-detail__pending-message {
    text-align: right;
    color: 	#F67676;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    letter-spacing: 0.15em;
}

input.is-readonly {
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: black !important;
    pointer-events: none;
}

textarea.is-readonly {
    border: none;
    font-size: 16px;
    padding: 25px;
    background-color: transparent;
    color: black !important;
    pointer-events: none;
}

input.is-readonly:focus,
textarea.is-readonly:focus {
    outline: none;
}

.break-time__label.is-readonly {
    border: none;
    background-color: transparent;
    pointer-events: none;
}

.start-end__label.is-readonly {
    border: none;
    background-color: transparent;
    pointer-events: none;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    html, body {
        margin: 0;
        padding: 0;
        background: #F0EFF2;
        min-height: 100%;
    }
    
    .content {
        width: 100vw;
        min-height: 100vh;
    }
    
    .attendance-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .attendance-detail h2 {
        border-left: 7px solid black;
        padding-left: 20px;
        font-size: 21px;
        margin: 40px 510px 0px 0px;
    }
    
    .attendance-detail__table {
        width: 630px;
        background: white;
        color: #737373;
        font-size: 16px;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 45px;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    .attendance-detail__group {
        display: flex;
        border-bottom: 3px solid #E1E1E1;
    }
    
    .attendance-detail__label {
        margin: 32px 0px 22px 50px;
    }
    
    .attendance-detail__name {
        color: black;
        margin: 32px 0px 22px 27%;
    }
    
    .attendance-detail__year {
        color: black;
        margin: 32px 0px 22px 26%;
    }
    
    .attendance-detail__date {
        color: black;
        margin: 32px 0px 22px 18%;
    }
    
    .attendance-detail__start-end {
        margin: 32px 0px 22px 15.3%;
    }
    
    .attendance-detail__error-message {
        color: red;
        margin-top: 10px;
        font-size: 13px;
    }
    
    input[type="time"]::-webkit-calendar-picker-indicator {
        background: none;
    }
    
    .attendance-detail__start-end__input {
        display: flex;
    }
    
    .start-end__label {
        display: inline-block;
        height: 32px;
        width: 108px;
        border: #EBEBEB 1.5px solid;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .attendance-detail__input {
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Noto Sans JP', sans-serif;
        padding-left: 17px;
        border: none;
        background: transparent;
        cursor: pointer;
        box-sizing: border-box;
        letter-spacing: 0.15em;
    }
    
    .tilde {
        margin: 5px 35px 0px 35px;
        color: black;
    }
    
    .attendance-detail__break-time {
        display: flex;
        flex-direction: column;
        margin: 32px 0px 22px 24%;;
    }
    
    .attendance-detail__break-time__input {
        display: flex;
        margin-bottom: 30px;
    }
    
    .break-time__label {
        display: inline-block;
        height: 32px;
        width: 108px;
        border: #EBEBEB 1.5px solid;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .break-time__input {
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Noto Sans JP', sans-serif;
        padding-left: 17px;
        border: none;
        background: transparent;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .break-time__tilde {
        margin: 5px 36px 0px 36px;
        color: black;
    }
    
    .attendance-detail__break-time__error-message {
        transform: translateY(-20px);
        color: red;
        font-size: 13px;
    }
    
    .attendance-detail__group-remarks {
        display: flex;
    }
    
    .attendance-detail__textarea {
        resize: none;
        border: #EBEBEB 1.5px solid;
        border-radius: 5px;
        margin: 15px 0px 15px 24%;
        width: 285px;
        font-size: 13px;
        padding: 10px 10px;
    }
    
    .attendance-detail__error-message__note {
        color: red;
        font-size: 13px;
        transform: translate(38%, -8px);
    }
    
    .attendance-detail__button {
        display: flex;
        justify-content: flex-end;
    }
    
    .attendance-detail__button-submit {
        background-color: black;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 8px 35px;
        border: black;
        border-radius: 6px;
        margin-top: 75px;
    }

    .attendance-detail__pending-message {
        text-align: right;
        color: 	#F67676;
        justify-content: flex-start;
        font-weight: bold;
        font-size: 16px;
        margin-top: 15px;
        letter-spacing: 0.15em;
    }
    
    input.is-readonly,
    textarea.is-readonly {
        border: none;
        font-size: 14px;
        background-color: transparent;
        color: black !important;
        pointer-events: none;
    }

    input.is-readonly:focus,
    textarea.is-readonly:focus {
        outline: none;
    }
    
    .break-time__label.is-readonly {
        border: none;
        background-color: transparent;
        pointer-events: none;
    }

    .start-end__label.is-readonly {
        border: none;
        background-color: transparent;
        pointer-events: none;
    }
}