* {
    margin: 0;
    padding: 0;
}

.header {
    background: black;
    width: 100%;
    box-sizing:border-box;
    line-height: 0;
}

.header-content {
    display: flex;
}

.header-content__logo {
    vertical-align: bottom;
    padding: 25px 45px;
}

.header-content__link {
    display: flex;
    margin-left: 650px;
}

.header-link {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 45px 40px 0px 0px;
}

.logout-button {
    color: white;
    background: black;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 30px 0px 0px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    .header {
        background: black;
        width: 100%;
        box-sizing:border-box;
        line-height: 0;
    }
    
    .header-content {
        display: flex;
    }
    
    .header-content__logo {
        vertical-align: bottom;
        padding: 20px 40px;
    }

    .logo-img{
        width: 183px;
    }
    
    .header-content__link {
        display: flex;
        margin-left: 190px;
    }
    
    .header-link {
        color: white;
        text-decoration: none;
        border: none;
        font-size: 17px;
        font-weight: bold;
        margin: 30px 23px 0px 0px;
    }
    
    .logout-button {
        color: white;
        background: black;
        border: none;
        font-size: 17px;
        font-weight: bold;
        margin: 18px 25px 0px 0px;
    }
}