body {
    margin: 0;
    padding: 0;
}

.admin-login-form__header {
    background: black;
    width: 100vw;
    line-height: 0;
}

.admin-login-form__header img {
    vertical-align: bottom;
    padding: 20px 50px;
    width: 360px;
}

.admin-login-form {
    justify-content: center;
    align-items: center;
}

.admin-login-form__title {
    text-align: center;
    font-size: 20px;
    padding: 80px 0px 0px 0px;
}

.admin-login-form__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-login-form__group {
    display: flex;
    flex-direction: column;
    width: 580px;
    margin: 0 auto;
    align-items: center;
}

.admin-login-form__label {
    font-weight: bold;
    margin: 65px 10px 0px 0px;
    text-align: left;
    width: 100%;
}

.admin-login-form__input {
    display: block;
    width: 580px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: solid 1px;
    margin-top: 5px;
    padding-left: 10px;
}

.admin-login-form__error-message {
    color: red;
    font-size: 17px;
    margin-top: 5px;
    width: 580px;
    text-align: left;
}

.admin-login-form__button {
    text-align: center;
    margin-top: 100px;
}

.admin-login-form__submit{
    color: white;
    width: 590px;
    background: black;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 3px;
}

.admin-login-form__alert {
    margin-top: 20px;
    font-size: 20px;
    color: red;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    body {
        margin: 0;
        padding: 0;
    }

    .admin-login-form {
        justify-content: center;
        align-items: center;
    }
    
    .admin-login-form__header {
        background: black;
        width: 100vw;
        line-height: 0;
    }
    
    .admin-login-form__header img {
        vertical-align: bottom;
        padding: 20px 20px;
        width: 230px;
    }

    .admin-login-form__title {
        text-align: center;
        font-size: 16px;
        padding: 80px 0px 0px 0px;
    }
    
    .admin-login-form__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .admin-login-form__group {
        display: flex;
        flex-direction: column;
        width: 480px;
        margin: 0 auto;
        align-items: center;
    }
    
    .admin-login-form__label {
        font-weight: bold;
        margin: 40px 0px 0px 5px;
        text-align: left;
        width: 100%;
    }
    
    .admin-login-form__input {
        display: block;
        align-items: center;
        width: 460px;
        height: 32px;
        border-radius: 3px;
        border: none;
        outline: solid 1px;
        margin-top: 5px;
        padding-left: 10px;
    }

    .admin-login-form__error-message {
        color: red;
        font-size: 16px;
        margin-top: 5px;
        width: 470px;
        text-align: left;
    }
    
    .admin-login-form__button {
        text-align: center;
        margin-top: 65px;
    }
    
    .admin-login-form__submit {
        color: white;
        width: 470px;
        background: black;
        border: none;
        font-size: 16px;
        font-weight: bold;
        padding: 8px 0px;
        border-radius: 3px;
    }
    
    .admin-login-form__alert {
        margin-top: 15px;
        font-size: 17px;
        color: red;
        text-align: center;
    }
}